<div class="jumbotron">
  <div class="container">
    <h1> Welcome to Super Rentals </h1>
  </div>
</div>

<div class="container">
  <h3>We hope you find exactly what you're looking for in a place to stay.</h3>

  <ul>
    {{#each model.rentals as |rental|}}
      {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
    {{/each}}
  </ul>

  {{new-city saveCity="saveCity"}}

  <h2>Cities</h2>

  <ul>
    {{#each model.cities as |city|}}
      <li>{{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  <hr>

  <br>
  {{#link-to 'about'}}About{{/link-to}}
  <br>
  {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
  <br>
  {{#link-to 'announcements'}}Click to check out the latest annoucements.{{/link-to}}

</div>
